<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exalted Roller</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link href="/css/index.css" rel="stylesheet" />
  </head>
  <body>
    <main id="app">
      <section class="msgs">
        <!--         <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col" colspan="2">Mensaje</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
        </table> -->
        <table class="table table-sm msgs-table">
          <tbody>
            <tr>
              <th scope="row">Luthar</th>
              <td colspan="2">Rolled: 8<span>[5]</span><span>[2]</span></td>
              <td>10:55:15</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="btns">
        <button type="button" class="btn btn-primary" data-value="1">01</button>
        <button
          type="button"
          class="btn"
          data-value="2"
          style="background-color: red"
        >
          02
        </button>
        <button type="button" class="btn" data-value="3">03</button>
        <button type="button" class="btn" data-value="4">04</button>
        <button type="button" class="btn" data-value="5">05</button>
        <button type="button" class="btn" data-value="6">06</button>
        <button type="button" class="btn" data-value="7">07</button>
        <button type="button" class="btn" data-value="8">08</button>
        <button type="button" class="btn" data-value="9">09</button>
        <button type="button" class="btn" data-value="10">10</button>
        <button type="button" class="btn" data-value="11">11</button>
        <button type="button" class="btn" data-value="12">12</button>
      </section>
    </main>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/bundle.js"></script>
  </body>
</html>
